<div class="footer row border rounded shadow-sm mb-3">
    <div class="col-12">
        <div class="row footer-up">
            <div class="contacts col-sm-12 col-md-12 col-lg-5">
                <ul class="navbar-nav text">
                    <span class="footer-caption navbar-text">Контактная информация</span>
                    <p class="navbar-group navbar-text">
                        <span class="footer-subtitle">
                            Председатель МОО «Содружество военных автомобилистов»:
                        </span><br>
                        Чиняков Юрий Викторович +7 (965) 236-66-05
                    </p>
                    <p class="navbar-group navbar-text">
                        <span class="footer-subtitle">
                            Юридический адрес:
                        </span><br>
                        119619, г. Москва, ул. Производственная, д. 1а, стр. 2
                    </p>
                    <p class="navbar-group navbar-text">
                        <span class="footer-subtitle">
                            Фактический адрес:
                        </span><br>
                        123022 г. Москва, ул. Пресненский вал, д. 9
                    </p>
                    <p class="navbar-group navbar-text">
                        <span class="footer-subtitle">
                            Расчётный счёт в Банке ПАО Сбербанк:
                        </span><br>
                        40703810238000015591
                    </p>
                    <p class="navbar-group navbar-text">
                        <span class="footer-subtitle">
                            Корреспондентский счёт:
                        </span><br>
                        30101810400000000225
                    </p>
                    <p class="navbar-group navbar-text">
                        ОГРН 1187700001532<br>
                        ИНН/КПП 9729245319/772901001
                    </p>
                    <p class="navbar-group navbar-text">
                        ОКПО 24141840, ОКАТО 45268588000, <br>
                        ОКОГУ 4220002, ОКТМО 45326000000, ОКФС 53
                    </p>
                </ul>
            </div>
            <div class="important-information col-sm-12 col-md-12 col-lg-4">
                <ul class="navbar-nav text">
                    <span class="footer-caption navbar-text">Важная информация</span>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">Устав МОО СВА</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">Цели и виды деятельности</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="reg.html">Как вступить в организацию</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="news.html">Актуальные новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="photogallery.html">Фотогалерея</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="videogallery.html">Видеогалерея</a>
                    </li>
                </ul>
            </div>
            <div class="faq col-sm-12 col-md-12 col-lg-3">
                <ul class="navbar-nav text">
                    <span class="footer-caption navbar-text">Задать вопрос</span>
                    <li class="nav-item">
                        <a class="nav-link" href="answer.html">Ответы FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright col-12 bg-light rounded-bottom">
        <p class="text-center">
            &copy; Вся информация, представленная на сайте защищена <br> 
            авторским правом и принадлежит МОО «Содружество военных автомобилистов»
        </p>
    </div>
</div>