<div class="header row border rounded shadow-sm mb-3">

    <div class="col-12 col-sm-12 col-md-3 logo bg-light">
        <img src="/public_html/upload/icon/logo/logo.png" alt="Логотип МОО СВА">
    </div>

    <div class="col-12 col-sm-12 col-md-6 main-title align-self-center">
        <p class="text-center">
            Межрегиональная общественная организация
            «Содружество военных автомобилистов»
        </p>
        <p class="text-center text-secondary small">МОО «Содружество военных автомобилистов»</p>
    </div>

    <div class="col-12 col-sm-12 col-md-3 btn-header">
        <div class="social mb-3">
            <div class="social-item"><a href="#"><img src="/public_html/upload/icon/social/odnoklassniki.svg" alt="..."></a></div>
            <div class="social-item"><a href="#"><img src="/public_html/upload/icon/social/vk.svg" alt="..."></a></div>
            <div class="social-item"><a href="#"><img src="/public_html/upload/icon/social/facebook.svg" alt="..."></a></div>
            <div class="social-item pr-0"><a href="#"><img src="/public_html/upload/icon/social/twitter.svg" alt="..."></a></div>
        </div>
    </div>

</div>