{% extends 'layouts/app.twig' %}

{% block title %}О содружестве{% endblock %}

{% block content %}
    <div class="main row mb-3">
        <div class="aside-left col-sm-12 col-md-12 col-lg-4">
            <div class="aside aside-left-padding-fix border rounded shadow-sm">
                <div class="aside-item">
                    <p class="aside-title">
                        О содружестве
                    </p>
                    <div class="link-group">
                        <a class="link-item" href="#">Устав МОО СВА</a>
                        <a class="link-item" href="#">Общие положения</a>
                        <a class="link-item" href="#">Центральный совет организации</a>
                        <a class="link-item" href="#">Председатель организации</a>
                        <a class="link-item" href="#">Цели и виды деятельности</a>
                        <a class="link-item" href="#">Ревизионная комиссия</a>
                        <a class="link-item" href="#">Региональные отеделения</a>
                        <a class="link-item" href="#">Положение о принятии членов</a>
                        <a class="link-item" href="#">Структура организации</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="about col-sm-12 col-md-12 col-lg-8 border rounded shadow-sm">
            <div class="content-cover">
                <p class="title">Общие положения</p>

                <div class="about-item">
                    <p class="paragraph">
                        1.1
                    </p>
                    <p class="about-content text">
                        Жданов В.А. предложил определить общую численность челнов Центрального Совета 
                        Организации - 15 человек. Также он предложил избрать Центральный Совет 
                        Организации сроком на пять лет в следующем составе...
                    </p>
                </div>
                <div class="about-item">
                    <p class="paragraph">
                        1.2
                    </p>
                    <p class="about-content text">
                        Организация образована и действует в соответствии с требованиями Конституции 
                        Российской Федерации, Гражданского кодекса Российской Федерации, Федерального 
                        Закона «О некоммерческих организациях», Федерального Закона «Об общественных 
                        объединениях», иных положений действующего законодательства Российской Федерации 
                        и положений настоящего Устава. 
                    </p>
                </div>
                <div class="about-item">
                    <p class="paragraph">
                        1.3
                    </p>
                    <p class="about-content text">
                        Полное наименование Организации на русском языке: Межрегиональная общественная 
                        организация «Содружество военных автомобилистов». Сокращенное наименование 
                        Организации на русском языке: МОО «Содружество военных автомобилистов». 
                        Полное наименование Организации на английском языке: Interregional public
                            organization «Union of military motorists».
                    </p>
                </div>
                <div class="about-item">
                    <p class="paragraph">
                        1.4
                    </p>
                    <p class="about-content text">
                        Территориальная сфера деятельности Организации – город Москва, Московская область, 
                        город Санкт-Петербург. В дальнейшем могут быть созданы структурные подразделения 
                        Организации в других субъектах Российской Федерации, составляющих менее половины 
                        субъектов Российской Федерации в соответствии с законодательством Российской Федерации 
                        и настоящим Уставом.
                    </p>
                </div>
                <div class="about-item">
                    <p class="paragraph">
                        1.5
                    </p>
                    <p class="about-content text">
                        Место нахождения постоянно действующего руководящего органа 
                        Организации (Центральный совет): город Москва.
                    </p>
                </div>

                <div class="about-nav text">
                    <span class="mr-2">Далее:</span>
                    <a href="#">Центральный совет организации</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}