<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/public_html/upload/icon/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/public_html/upload/icon/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/public_html/upload/icon/favicon/favicon-16x16.png">
        <link rel="manifest" href="/public_html/upload/icon/favicon/site.webmanifest">
        <link rel="mask-icon" href="/public_html/upload/icon/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">

        {% block style %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/public_html/css/bootstrap/bootstrap.min.css">

        <!-- Optional CSS -->
        <link rel="stylesheet" href="/public_html/css/style.css">
        {% endblock %}

        <title>
        {% block title %}{% endblock %}
        </title>
    </head>
    <body>

        <div class="container">
            {% include "components/user-bar.twig" %}
            {% include "components/header.twig" %}
            {% include "components/menu.twig" %}
            {% block content %}{% endblock %}
            {% include "components/footer.twig" %}
        </div>

        {% block scripts %}
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/public_html/js/jquery-3.4.1.min.js"></script>
        <script src="/public_html/js/bootstrap/popper.min.js"></script>
        <script src="/public_html/js/bootstrap/bootstrap.min.js"></script>
        <!-- Optional JavaScript -->
        {% endblock %}
    </body>
</html>